{
  "username": "TU_EMAIL_BLINK",
  "password": "NO_INCLUIR_EN_GIT",
  "token": "NO_INCLUIR_EN_GIT",
  "refresh_token": "NO_INCLUIR_EN_GIT",
  "host": "e011.immedia-semi.com",
  "region_id": "e011",
  "client_id": "",
  "account_id": "",
  "user_id": "",
  "hardware_id": ""
}